@charset "UTF-8";
.container { text-align: center; }
    

header {
    background-color: bisque;
    text-align: center;
    font-family: fantasy;
    border-style: solid;
    border-radius: 8px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.337);
    margin-left: 20px;
    margin-right: 20px;
    margin: auto;
    max-width: 1115px;
    
}

main{
    background-color: white;
    margin-left: 20px;
    margin-right: 20px;
    padding:10px;
    border-radius: 7px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.414);
    max-width:1100px;
    margin: auto;


}
main>nav>a{
text-decoration: none;
color:black;
font-family: fantasy;
font-size: 1.1em;
background-color: rgb(211, 121, 57);
margin-left: 10vw;
padding: 4px 3px 4px 3px;
border-radius: 3px;
box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.435);
}
main>nav{
background-color: bisque;
padding:10px;
margin:auto;

}

main>h1 {
font-family: Arial, Helvetica, sans-serif;
font-weight: bold;
text-align: center;
margin-bottom: 50px;

}
main>div>a{
    background-color: rgb(255, 228, 196);
    margin-left: 3vw;
    margin-right: 3vw;
    padding: 30px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: black;
    border-radius: 5px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.592);
    border-color: rgba(0, 0, 0, 0.888);
    border:2px;
    border-style: solid;  

    
}
main>div>a:hover{
background-color: black;
color:white;

}
main>nav>a:hover {
    background-color:rgb(212, 102, 24)
}
body{
    background-image: linear-gradient(to right, rgb(69, 67, 67),
     rgb(98, 97, 97),rgb(144, 141, 141));
}

main>h2{
    margin-top: 60px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.8em;

}
footer {
    background-color: white;
    margin-left: 20px;
    margin-right: 20px;
    padding:8px;
    border-radius: 5px;
    box-shadow:2px 2px 4px rgba(0, 0, 0, 0.423);
    max-width: 1100px;
    margin: auto;
    margin-top: 5px;
     }
     footer>ul {
        list-style-type: none;

     }
     footer>ul>a{
        text-decoration: none;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        color: black;
        background-color: bisque;
     }
     footer>ul>li {
        background-color: bisque;
     }
img#chassi {
    display: block;
    margin: auto;
}
img#next {
    display: block;
    margin: auto;
}

img#kansas {
    display: block;
    margin: auto;
}
@media screen and (max-width:600px) {

    /*Menu com os 2links*/
    main>div>a{
        background-color: bisque;
        padding: 15px;
        text-decoration: none;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 0.8em;
        font-weight: bold;
        color: black;
        border-radius: 5px;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.592);
        border-color: rgba(0, 0, 0, 0.888);
        border-style: solid; 
        margin-left: 2vw;
        margin-right: 2vw;
        
        
    }
    .container { text-align: center; }
        /* Fotos dimensionadas para celular */
        img#chassi {
            width: 80vw;
        }
        img#next {
            width: 80vw;
        }
        img#kansas {
            width: 80vw;
        }
   main> nav > a {
    display: block;
    text-align: center;
    margin:0;
    margin-top:3px;
    }
    main>nav {

     background-color: white;
    }
    main>nav>a:hover {
        background-color:rgb(212, 102, 24)
    }
    
}